body{
    background-color:rgb(245, 245, 245);    
}
p{
    position:center;
    text-align:center;
    font-size:100px;
    font-weight:bold;
    color:rgb(105, 105, 105);
}
button {
      border: solid;
      border-color: rgb(220, 220, 220);
      border-width: 5px;
      width: 150px;
      height: 100px;
      font-size: 25px;
      background-color: rgb(0, 204, 255);
      color: white;
      position: center;
      border-radius: 15px;
      display: inline;
      font-weight: bold;
      margin: 20;
}
.a{
    margin-left:500px;
}